.backShell{
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    

}

#yourName {

}

#pageTabs {

}

.mainBox{

}

#boldTitle {

}

.bottomBar {
    
}